<div id="main">
    <h1>{{title}}</h1>
    <div>
        <label>
            Firstname:
            <input type="text" [value]="selectedPerson != undefined ? selectedPerson.firstname : null"
                   [(ngModel)]="nameToChange">
        </label>
        <label>
            Lastname:
            <input type="text" [value]="selectedPerson != undefined ? selectedPerson.lastname : null"
                   [(ngModel)]="lastNameToChange">
        </label>
        <img src="assets/add.png" (click)="addUser()" width="30px" height="30px"
             style="margin-bottom: -12px; margin-left: 3px">
    </div>
    <hr>
    <h1>Search</h1>
    <label>
        <input type="text" [(ngModel)]="filter">
    </label>
    <hr>
    <h1>Sort</h1>
    <button class="sorter" (click)="sort('id')">Sort after id</button>
    <button class="sorter" (click)="sort('firstname')">Sort after forename</button>
    <button class="sorter" (click)="sort('lastname')">Sort after surname</button>
    <button class="sorter" (click)="sort('country')">Sort after country</button>
    <br>

    <div *ngFor="let person of persons"
         (mouseenter)="hoveredPerson = person" style="max-width: 100%"
         [ngStyle]="returnColor(person)">
        <ng-container *ngIf="filterInName(person)" style="display: flex">
            <app-person-detail (deleted)="deleteThis($event)" (toggle)="toggle($event)"
                               [person]="person"></app-person-detail>
        </ng-container>
    </div>
    <div>
        <a (click)="changePage(false)" *ngIf="visibleLeft">&#8592;</a>
        <a>Page {{this.http.getPage()}}</a>
        <a (click)="changePage(true)" *ngIf="visibleRight">&#8594;</a>
    </div>
</div>