<div id="main">
    <h1>{{title}}</h1>


    <label>
        Firstname:
        <input type="text" [value]="selectedPerson != undefined ? selectedPerson.firstname : null"
               [(ngModel)]="nameToChange" (input)="changeName(selectedPerson)">
    </label>
    <label>
        Lastname:
        <input type="text" [value]="selectedPerson != undefined ? selectedPerson.lastname : null"
               [(ngModel)]="lastNameToChange" (input)="changeLastName(selectedPerson)">
    </label>
    <br>
    <div class="formButton">
        <button (click)="clearInputs()">Clear</button>
        <button (click)="addUser()">Add</button>
    </div>
    <br>
    <br>
    <br>
    <button class="sorter" (click)="sort('firstname')">Sort after forename</button>
    <button class="sorter" (click)="sort('lastname')">Sort after surname</button>
    <button class="sorter" (click)="sort('country')">Sort after country</button>
    <br>
    <table cellspacing="0" cellpadding="0">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Country</th>
        </tr>
        <tr *ngFor="let person of persons" (click)="selectedPerson = person"
            (mouseenter)="hoveredPerson != person ? hoveredPerson = person : null" style="max-width: 50%"
            [ngStyle]="returnColor(person)">
            <td>{{person.id}}.</td>
            <td>{{person.firstname}}</td>
            <td>{{person.lastname}}</td>
            <td>{{person.country}}</td>
        </tr>
    </table>
</div>